{{#if logged_in}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}. Here are your posts:</h2>
  </div>
</div>

{{#each posts as |post| }}
  <div class="box">
    <div class="flex-head">
        <span class="head-title"><a href="/post/{{post.id}}">{{post.title}}</a></span>
        <span class="posted-by">Posted on {{format_date post.createdAt}}</span>
        {{!-- <span class="posted-by">Posted by {{post.user.name}} on Dec 1, 2022</span> --}}
    </div>
    <div class="flex-content">
        {{post.content}}
    </div>
  </div>  
{{/each}}  

  
<div id="new-post-button">
  <a href="/newpost">+ New Post</a>
</div>

{{else}}
<a href="/login"> You must be logged in to see your dashboard </a>

{{/if}}

  {{!-- {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}

{{!-- <script src="./js/profile.js"></script> --}}
